<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing</title>
    <style>
      @keyframes marquee {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-50%);
        }
      }

      .marquee {
        display: flex;
        width: fit-content;
        animation: marquee 30s linear infinite;
      }
    </style>
    <script>
      // Simple toggle for mobile menu
      function toggleMenu() {
        const menu = document.getElementById("mobile-menu");
        menu.classList.toggle("hidden");
      }
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <nav class="bg-white fixed top-0 left-0 w-full z-50 shadow-md">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <a href="/" class="flex items-center space-x-3 cursor-pointer">
            <img class="h-8 w-8" src="images.png" alt="Profile" />
            <p class="font-bold text-black">DVSUB</p>
          </a>

          <div class="hidden sm:flex space-x-4">
            <a
              href="/election"
              class="text-black px-3 py-2 rounded-md text-sm font-medium hover:text-indigo-600"
              >Elections</a
            >
            <a
              href="/result"
              class="text-black px-3 py-2 rounded-md text-sm font-medium hover:text-indigo-600"
              >Results</a
            >
            <a
              href="/notices"
              class="text-black px-3 py-2 rounded-md text-sm font-medium hover:text-indigo-600"
              >Notices</a
            >
          </div>

          <!-- Auth Buttons -->
          <div class="relative flex space-x-4">
            <!-- Replace these based on login status -->
            <!-- If logged in: -->
            <!-- <button onclick="logoutFunction()" class="bg-gray-800 text-white px-4 py-2 rounded font-semibold">Logout</button> -->

            <!-- If not logged in: -->
            <a href="/signup">
              <button
                class="bg-red-500 text-white px-4 py-2 rounded font-semibold"
              >
                Sign Up
              </button>
            </a>
            <a href="/signin">
              <button
                class="bg-green-500 text-white px-4 py-2 rounded font-semibold"
              >
                Sign In
              </button>
            </a>
          </div>

          <!-- Mobile menu button -->
          <div class="sm:hidden">
            <button
              onclick="toggleMenu()"
              class="text-gray-200 hover:text-black focus:outline-none focus:ring-2 focus:ring-white"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  id="menu-icon"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Mobile menu items -->
      <div
        id="mobile-menu"
        class="sm:hidden px-2 pt-2 pb-3 space-y-1 bg-white hidden"
      >
        <a
          href="/election"
          class="block text-black px-3 py-2 rounded-md text-base font-medium hover:text-indigo-600"
          >Elections</a
        >
        <a
          href="/result"
          class="block text-black px-3 py-2 rounded-md text-base font-medium hover:text-indigo-600"
          >Results</a
        >
        <a
          href="/notices"
          class="block text-black px-3 py-2 rounded-md text-base font-medium hover:text-indigo-600"
          >Notices</a
        >
      </div>
    </nav>
    <!-- Hero -->
    <div class="bg-white">
      <div class="relative isolate px-6 lg:px-8 z-0">
        <!-- Top Background Blur -->
        <div
          class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%-11rem)] sm:left-[calc(50%-30rem)] opacity-30"
            style="
              width: 80rem;
              aspect-ratio: 1155 / 678;
              transform: translateX(-50%) rotate(30deg);
              background: linear-gradient(to top right, #ff80b5, #9089fc);
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>

        <!-- Hero Content -->
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <a href="/learnmore">
              <div
                class="relative rounded-full px-3 py-1 text-sm text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
              >
                Revolutionizing the way the world votes.
                <span class="font-semibold text-indigo-600">
                  Read more &rarr;
                </span>
              </div>
            </a>
          </div>
          <div class="text-center">
            <h1
              class="text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl"
            >
              Decentralized Voting For Modern Nepal.
            </h1>
            <p class="mt-8 text-lg text-gray-500 sm:text-xl">
              A secure and transparent voting system powered by blockchain
              technology. Ensuring tamper-proof elections, voter privacy, and
              verifiable results redefining trust in the voting process.
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a
                href="/vote"
                class="rounded-md bg-indigo-600 px-6 py-3.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                Vote Now
              </a>
              <a
                href="/learnmore"
                class="text-sm font-semibold text-gray-900 hover:text-indigo-600"
              >
                Learn more →
              </a>
            </div>
          </div>
        </div>

        <!-- Bottom Background Blur -->
        <div
          class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%+3rem)] sm:left-[calc(50%+36rem)] opacity-30"
            style="
              width: 43rem;
              aspect-ratio: 1155 / 678;
              transform: translateX(-50%);
              background: linear-gradient(to top right, #ff80b5, #9089fc);
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>
      </div>
    </div>
    <!-- hero ends -->
    <!-- stack starts  -->
    <div class="relative bg-[#1E293B] py-16 overflow-hidden">
      <!-- Fading edges -->
      <div
        class="pointer-events-none absolute inset-y-0 left-0 w-24 bg-gradient-to-r from-[#1E293B] to-transparent z-10"
      ></div>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 w-24 bg-gradient-to-l from-[#1E293B] to-transparent z-10"
      ></div>

      <!-- Logo slider -->
      <div class="whitespace-nowrap overflow-hidden">
        <div class="marquee items-center space-x-16">
          <!-- Repeat logos to allow infinite scroll -->
          <img
            src="https://cdn.worldvectorlogo.com/logos/github-icon-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/react-2.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/sass-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/npm-square-red-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/visual-studio-code-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/next-js.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/javascript-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/firebase-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/mongodb-icon-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/docker.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/linux-tux.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/git-icon.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />

          <!-- Repeat logos again for smooth infinite scroll -->
          <img
            src="https://cdn.worldvectorlogo.com/logos/github-icon-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/react-2.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/sass-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/npm-square-red-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/visual-studio-code-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/next-js.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/javascript-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/firebase-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/mongodb-icon-1.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/docker.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/linux-tux.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/git-icon.svg"
            alt="logo"
            class="h-12 object-contain opacity-80 hover:opacity-100 transition"
          />
        </div>
      </div>
    </div>
    <!-- stack ends -->
    <!-- testo starts -->
    <section
      class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:px-8"
    >
      <!-- Background gradients -->
      <div
        class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,var(--color-indigo-100),white)] opacity-20"
      ></div>
      <div
        class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl ring-1 shadow-indigo-600/10 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"
      ></div>

      <!-- Testimonial content -->
      <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <img
          alt="quote icon"
          src="https://img.icons8.com/?size=100&id=60249&format=png&color=000000"
          class="mx-auto h-12"
        />
        <figure class="mt-10">
          <blockquote
            class="text-center text-xl/8 font-semibold text-gray-900 sm:text-2xl/9"
          >
            <p>
              "The decentralized voting system has revolutionized the way we
              conduct elections in Nepal. Its transparency, security, and
              efficiency ensure that every vote is counted accurately and
              fairly. This technology has strengthened our democracy by
              eliminating fraud and building trust among citizens. I highly
              recommend this system to any nation committed to upholding the
              integrity of their electoral process."
            </p>
          </blockquote>
          <figcaption class="mt-10">
            <img
              alt="K.P. Oli"
              src="kp_oli.jpg"
              class="mx-auto size-10 rounded-full object-cover"
            />
            <div
              class="mt-4 flex items-center justify-center space-x-3 text-base"
            >
              <div class="font-semibold text-gray-900">K.P. Oli</div>
              <svg
                width="3"
                height="3"
                viewBox="0 0 2 2"
                aria-hidden="true"
                class="fill-gray-900"
              >
                <circle r="1" cx="1" cy="1" />
              </svg>
              <div class="text-gray-600">Prime Minister Of Nepal</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </section>
    <!-- testo ends  -->

    <!-- stats start  -->
    <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
      <!-- Background Image -->
      <img
        alt=""
        src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply"
        class="absolute inset-0 -z-10 w-full h-full object-cover object-right md:object-center"
      />

      <!-- Top Blur Shape -->
      <div
        aria-hidden="true"
        class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
      >
        <div
          class="aspect-[1097/845] w-[274.25px] opacity-20"
          style="
            background: linear-gradient(to top right, #ff4694, #776fff);
            clip-path: polygon(
              74.1% 44.1%,
              100% 61.6%,
              97.5% 26.9%,
              85.5% 0.1%,
              80.7% 2%,
              72.5% 32.5%,
              60.2% 62.4%,
              52.4% 68.1%,
              47.5% 58.3%,
              45.2% 34.5%,
              27.5% 76.7%,
              0.1% 64.9%,
              17.9% 100%,
              27.6% 76.8%,
              76.1% 97.7%,
              74.1% 44.1%
            );
          "
        ></div>
      </div>

      <!-- Bottom Blur Shape -->
      <div
        aria-hidden="true"
        class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
      >
        <div
          class="aspect-[1097/845] w-[274.25px] opacity-20"
          style="
            background: linear-gradient(to top right, #ff4694, #776fff);
            clip-path: polygon(
              74.1% 44.1%,
              100% 61.6%,
              97.5% 26.9%,
              85.5% 0.1%,
              80.7% 2%,
              72.5% 32.5%,
              60.2% 62.4%,
              52.4% 68.1%,
              47.5% 58.3%,
              45.2% 34.5%,
              27.5% 76.7%,
              0.1% 64.9%,
              17.9% 100%,
              27.6% 76.8%,
              76.1% 97.7%,
              74.1% 44.1%
            );
          "
        ></div>
      </div>

      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2
            class="text-5xl font-semibold tracking-tight text-white sm:text-7xl"
          >
            Secure Voting System
          </h2>
          <p
            class="mt-8 text-lg font-medium text-pretty text-gray-300 sm:text-xl/8"
          >
            Elections should be fair, transparent, and accessible to everyone.
            Using blockchain, we ensure every vote is secure, anonymous, and
            impossible to tamper with. No more doubts, no more fraud just a
            voting process you can believe in.
          </p>
        </div>

        <!-- Feature Links -->
        <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
          <div
            class="grid grid-cols-1 gap-x-8 gap-y-6 text-base/7 font-semibold text-white sm:grid-cols-2 md:flex lg:gap-x-10"
          >
            <a href="#" class="hover:text-indigo-500">
              Live Vote Tracking <span aria-hidden="true">&rarr;</span>
            </a>
            <a href="#" class="hover:text-indigo-500">
              Zero Fraud Guarantee <span aria-hidden="true">&rarr;</span>
            </a>
            <a href="#" class="hover:text-indigo-500">
              Voter Anonymity <span aria-hidden="true">&rarr;</span>
            </a>
            <a href="#" class="hover:text-indigo-500">
              Setup a Meeting <span aria-hidden="true">&rarr;</span>
            </a>
          </div>

          <!-- Stats -->
          <dl
            class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4"
          >
            <div class="flex flex-col-reverse gap-1 font-bold">
              <dt class="text-base/7 text-gray-300">Votes cast securely</dt>
              <dd class="text-4xl font-semibold tracking-tight text-white">
                1M+
              </dd>
            </div>
            <div class="flex flex-col-reverse gap-1 font-bold">
              <dt class="text-base/7 text-gray-300">Uptime reliability</dt>
              <dd class="text-4xl font-semibold tracking-tight text-white">
                99.99%
              </dd>
            </div>
            <div class="flex flex-col-reverse gap-1 font-bold">
              <dt class="text-base/7 text-gray-300">Instances of fraud</dt>
              <dd class="text-4xl font-semibold tracking-tight text-white">
                0
              </dd>
            </div>
            <div class="flex flex-col-reverse gap-1 font-bold">
              <dt class="text-base/7 text-gray-300">Global support</dt>
              <dd class="text-4xl font-semibold tracking-tight text-white">
                24/7
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
    <!-- stats ends  -->

    <!-- fotter starts  -->
    <footer class="bg-[#05080F] text-gray-400 px-6 py-4">
      <div
        class="max-w-7xl mx-auto flex flex-col sm:flex-row items-center justify-between"
      >
        <p class="text-sm text-center sm:text-left">
          © 2024 DVSUB, Inc. All rights reserved.
        </p>
        <div class="flex space-x-6 mt-4 sm:mt-0">
          <a
            href="#"
            class="hover:text-white transition-colors"
            aria-label="Facebook"
          >
            <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
              <path
                d="M22 12.07C22 6.52 17.52 2 12 2S2 6.52 2 12.07c0 4.95 3.58 9.05 8.25 9.88v-6.99H7.08v-2.89h3.17V9.41c0-3.13 1.87-4.86 4.73-4.86 1.37 0 2.8.24 2.8.24v3.08h-1.58c-1.56 0-2.05.96-2.05 1.95v2.35h3.49l-.56 2.89h-2.93v6.99C18.42 21.12 22 17.02 22 12.07z"
              />
            </svg>
          </a>
          <a
            href="#"
            class="hover:text-white transition-colors"
            aria-label="Instagram"
          >
            <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
              <path
                d="M7.5 2C4.462 2 2 4.462 2 7.5v9C2 19.538 4.462 22 7.5 22h9c3.038 0 5.5-2.462 5.5-5.5v-9C22 4.462 19.538 2 16.5 2h-9zM12 7a5 5 0 110 10 5 5 0 010-10zm6-1a1 1 0 110 2 1 1 0 010-2zM12 9.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5z"
              />
            </svg>
          </a>
          <a href="#" class="hover:text-white transition-colors" aria-label="X">
            <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
              <path
                d="M19.6 4H16l-3.6 4.6L9 4H4.4L10.2 12l-5.8 8H8l3.6-4.6L15 20h4.6l-6.1-8z"
              />
            </svg>
          </a>
          <a
            href="#"
            class="hover:text-white transition-colors"
            aria-label="GitHub"
          >
            <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
              <path
                d="M12 2C6.48 2 2 6.62 2 12.26c0 4.5 2.87 8.31 6.84 9.66.5.1.66-.23.66-.5v-1.72c-2.78.61-3.37-1.37-3.37-1.37-.45-1.17-1.11-1.48-1.11-1.48-.9-.63.07-.62.07-.62 1 .07 1.53 1.07 1.53 1.07.88 1.54 2.3 1.1 2.86.84.09-.67.34-1.1.62-1.35-2.22-.26-4.56-1.14-4.56-5.06 0-1.12.38-2.03 1-2.74-.1-.25-.44-1.29.1-2.7 0 0 .83-.27 2.75 1.02a9.2 9.2 0 015 0c1.92-1.29 2.75-1.02 2.75-1.02.54 1.41.2 2.45.1 2.7.63.71 1 1.62 1 2.74 0 3.93-2.34 4.79-4.57 5.04.35.31.66.92.66 1.85v2.73c0 .27.16.6.67.5A10.03 10.03 0 0022 12.26C22 6.62 17.52 2 12 2z"
              />
            </svg>
          </a>
          <a
            href="#"
            class="hover:text-white transition-colors"
            aria-label="YouTube"
          >
            <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
              <path
                d="M21.6 7.2a2.7 2.7 0 00-1.9-1.9C17.7 5 12 5 12 5s-5.7 0-7.7.3a2.7 2.7 0 00-1.9 1.9C2 9.3 2 12 2 12s0 2.7.4 4.8a2.7 2.7 0 001.9 1.9c2 .3 7.7.3 7.7.3s5.7 0 7.7-.3a2.7 2.7 0 001.9-1.9c.3-2.1.3-4.8.3-4.8s0-2.7-.3-4.8zM10 15V9l5 3-5 3z"
              />
            </svg>
          </a>
        </div>
      </div>
    </footer>

    <!-- fotter ends  -->
  </body>
</html>
